body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: #333;
    margin: 0;
}

.container {
    position: relative;
    height: 100%;
    margin: 0;
}

.split {
    position: absolute; 
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    width: 50%;
    background: url('/ps5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 350ms ease; 
}

.split.left::before {
    content: '';
    position: absolute; 
    width: 100%;
    height: 100%; 
    background-color: rgba(33, 30, 170, 0.563)
}

.split.right::before {
    content: ''; 
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-color:rgba(36, 36, 36, 0.563)
}

.split.right {
    right: 0; 
    width: 50%; 
    height: 100%;
    background: url('/xbox.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 350ms ease; 
}

.btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 38%; 
    left: 50%; 
    transform: translate(-50%, 50%);
    text-decoration: none;
    color: white; 
    border: 3px solid white; 
    width: 180px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.split.left .btn:hover {
    background-color:rgba(33, 30, 170); 
    border-color: rgba(33, 30, 170);
}

.split.right .btn:hover {
    background-color: rgba(28, 122, 18, 1);
    border-color: rgba(28, 122, 18, 1); 
}

h1 {
    font-size: 4rem; 
    color: white;
    position: absolute;
    left: 50%; 
    top: 30%; 
    transform: translate(-50%, -50%); 
    white-space: nowrap; 
}

.hover-left .left {
    width: 70%;
}

.hover-left .right {
    width: 30%;
}

.hover-right .right {
    width: 70%; 
}

.hover-right .left {
    width: 30%;
}